version: '3'

services:
  myapp:
    build: .
    environment:
      - DB_HOST=db
      - DB_NAME=docter
      - DB_USER=govind
      - DB_PASSWORD=govind123
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: govind
      MYSQL_PASSWORD: govind123
      MYSQL_DATABASE: docter
    volumes:
      - db_volume:/var/lib/mysql
    
volumes:
  db_volume:
